[user]
	name = Kipre
	email = cyprien@kipr.cat

[alias]
	dog = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %C(#ff0ab3 dim)%ar%Creset) %C(bold blue)<%an, %C(#ff0ab3 dim)%cn%Creset>%Creset' --abbrev-commit --exclude=refs/remotes/origin/NACT* --exclude=refs/remotes/origin/some-pattern*"
	ls = ls-files

[merge]
	tool = nvimdiff
  # conflictstylg = diff3

[mergetool]
  keepBackup = false

[diff]
  colorMoved = default
  submodule = log

[credential]
	helper = store
